@import '../../Assets/mixins';
.editPage{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2vw;

    .deleteButton{
      color: #4D7CFE;        
   }
   .deleteButton:hover{
     color: #98A9BC;
     transition: ease-in-out 0.5s;
     cursor: pointer;
   }   
.formContainer{
    display: flex;
    justify-content: center;
    margin: 10vh 0 0 0;
    gap:2vw;
    .form{
        border-radius: 5px;
        width: 28vw;
        padding: 1.5vh;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .features{
            display: flex;
            justify-content: space-between;
            gap: 1vw;
        }
        .features>div:nth-child(2){
            margin-top: 3.3vh;
        }
        .batch{
            font-size: 30px;
            font-weight: 500;
            
        }
        .individualColor{
          color: #68df23;
        }
        .basicColor{
          color: #fd7e3b;
        }
        .standardColor{
          color: #f17074;
        }
        .proColor{
          color: #2774c6;
        }
        .enterpriseColor{
          color: #527fff;
        }

       
        .addButton{
           background-color: #4D7CFE; 
           color: $white;
           border-radius: 5px;
        }
        .addButton:hover{
          background-color: #98A9BC;
          transition: ease-in-out 0.5s;
          cursor: pointer;
        }
       
            label{
                font-size: 16px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .tags{
                display: flex;
                justify-content: space-between;
                gap:0.5vw;
            }
            .tags>p{
                margin-top: -0vh;
            }
            .btns{
              display: flex;
              gap: 5px;
            }
        }
        
    }
    .featuresInputBoxList{
        display: flex;
        gap: 0.5vw;
        padding: 1vh;
        margin-top: 1vh;
    }
    .CompletefeaturesList{
        margin-top: 3vh;
        padding: 1vh;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #f2f4f6;
        .essentials{
            border-bottom: 1px solid rgb(218, 213, 213);
            padding-left: 2vh;
            
          }
          .essentialsHead{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 2vh;
          }
          .TableHeading{
            display: flex;
            justify-content: space-around;
          }
          .TableHeading>div:not(:first-child){
            width: 15vw;
            text-align: center;
            align-self: center;
          }
          .TableHeading>div:nth-child(1){
            width: 17vw;
          }
          .TableHeading>div:nth-child(7){
            width: 5vw;
            text-align: center;
          }
      
      }
      .addFeaturesContainer{
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;

      
      .addfeatures{
        background-color: #4D7CFE; 
           border: 0px solid; 
           color: $white;
           padding: 0 1vw 0 1vw;
           font-size: 18px;
           height: 6vh;
           border-radius: 5px;
      }
      .addfeatures:hover{
        background-color: #98A9BC;
        transition: ease-in-out 0.5s;
        cursor: pointer;
      }

    }
.submit{
    background-color: #4D7CFE; 
           border: 0px solid; 
           color: $white;
           font-size: 18px;
           height: 6vh;
           margin: 2vh 0 0 0;
           border-radius: 5px;
           padding: 0 1vw 0 1vw;
           align-items: center;
}
.submit:hover{
  background-color: #98A9BC;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
}