@import '../../Assets/mixins';

.topHeading{
  text-align: center;

  .tagColor{
    color:#68df23
  }
  .banner{
    height: 75vh;
    width:100%;
    margin-top: 11vh;
  }
  .bannerHeading{
   color: #4D7CFE;
   font-size: 30px;
   font-weight: 500;
  }
  .getStartedBtnInHeading{
    color:$white;
    background-color: #4D7CFE;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 6vh;
    width: 12vw;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
  }
  .getStartedBtnInHeading:hover{
    background-color: #98A9BC;
    transition: ease-in-out 0.5s;
  }
}
.daynmikButtons{
    display: flex;
    justify-content: space-between;
    margin: 3vh 3vw 0 3vw;

    .dropDown{
      display: flex;
      align-items: center;
      gap:1vw;
      .select{
       width: 15vw;
      }
    }
    .yearlyStyle{
        display: flex;
        p:hover{
            color: #4D7CFE;
            cursor: pointer;            
        }
    }
  }
  .cards{
    display: flex;
    justify-content: space-between;
    margin: 3vh 3vw 0 3vw;
    gap: 0.8vw;
  }
  .bgImage{
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 2vh;  
  }
  .featureList{
    position: relative;
    margin: 3vh 3vw 0 3vw;

  .listHeading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .listHeading>p{
    color: $white;
    font-size: 24px;
    font-weight: 600;
  }
  .TableHeadingList{
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    height: 15vh;
    border-radius: 80px;
    text-align: center;
  }
  .TableHeadingList>div:nth-child(1){
    width: 18vw;
    text-align: center;
    padding-top: 3.5vh;
  }
  .TableHeading{
    display: flex;
    justify-content: space-around;
  }
  .TableHeading>div:not(:first-child){
    width: 13vw;
    text-align: center;
    align-self: center;
    font-weight: 300;
    font-family: 6px;
  }
  .TableHeading>div:not(:first-child)>p{
    font-weight: 300;
    font-size: 14px;
  }
  .TableHeading>div:nth-child(1){
    width: 18vw;
  }
  .tryFreebtn{
    border-radius: 5px;
    background-color: #4D7CFE;
    color: $white;
    border: 0 solid;
    width: 9vw;
    height: 4vh;
}
.tryFreebtn:hover{
  background-color: #98A9BC;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.essentials{
  border-bottom: 1px solid rgb(218, 213, 213);
  padding-left: 3vw; 
}
.essentials>p{
 font-size: 25px;
 font-weight: 400;
}
.essentialsHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.essentialsHead>p{
  font-size: 14px;
  font-weight: 400;
 }
.CompletefeaturesList{
  margin-top: 3vh;
  padding: 1vh;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f4f6;

}

}
